<div class="category-bar-container">
<ul>
  <li><a href="">
  <span class="material-symbols-outlined">
    nutrition
    </span>
  Alimentos</a></li>
  <li><a href="">
    <span class="material-symbols-outlined">
      local_drink
      </span>
    Bebidas</a></li>
  <li><a href="">
    <span class="material-symbols-outlined">
      air_freshener
      </span>Aromaterapia</a></li>
  <li><a href="">
    <span class="material-symbols-outlined">
      pill
      </span>Encapsulados</a></li>
  <li><a href="">
    <span class="material-symbols-outlined">
      local_florist
      </span>Florais</a></li>
  <li><a href="">
    <span class="material-symbols-outlined">
      emoji_food_beverage
      </span>Chás</a></li>
  <li><a href="">
    <span class="material-symbols-outlined">
      fitness_center
      </span>Suplementos</a></li>
  <li><a href="">
    <span class="material-symbols-outlined">
      face_3
      </span>Cosméticos</a></li>
</ul>


</div>
